In [1]:
import cobra

In [2]:
from cobra import Model,Reaction,Metabolite

In [3]:
result=Model('example')

#### V1 : A=====> B

In [4]:
v1=Reaction('v1')
v1.name='v1'
v1.lower_bound=0
v1.upper_bound=1000

#### V2 : B=====> C

In [5]:
v2=Reaction('v2')
v2.name='v2'
v2.lower_bound=0
v2.upper_bound=1000

#### V0 : =====> A

In [6]:
M=Reaction('M')
M.name='M'
M.lower_bound=0
M.upper_bound=1000

#### M : C=====>

In [7]:
v0=Reaction('v0')
v0.name='v0'
v0.lower_bound=1
v0.upper_bound=1

#### ATP_R : A=====> ATP

In [8]:
ATP_R=Reaction('ATP_R')
ATP_R.name='ATP_R'
ATP_R.lower_bound=0
ATP_R.upper_bound=1000

#### V3 : ATP=====>

In [9]:
v3=Reaction('v3')
v3.name='v3'
v3.lower_bound=.9
v3.upper_bound=.9

In [10]:
v4=Reaction('v4')
v4.name='v4'
v4.lower_bound=0
v4.upper_bound=1000

In [11]:
A= Metabolite('A',compartment='c')
B=Metabolite('B',compartment='c')
C= Metabolite('C',compartment='c')
ATP=Metabolite('ATP',compartment='c')

#### Add metabolites in reaction V1

In [12]:
v1.add_metabolites({A:-1,B:1})

#### Add metabolites in reaction V2

In [13]:
v2.add_metabolites({B:-1,C:1})

#### Add metabolites in reaction V0

In [14]:
v0.add_metabolites({A:1})

#### Add metabolites in reaction M

In [15]:
M.add_metabolites({C:-1})

#### Add metabolites in reaction ATP_R

In [16]:
v3.add_metabolites({A:-1,ATP:1})

#### Add metabolites in reaction V3

In [17]:
v4.add_metabolites({ATP:-1})

In [18]:
result.add_reactions([v0,v1,v2,v3,v4,M])

#### Add reactions in result

In [19]:
result.objective = 'M'

In [20]:
result.optimize()

In [21]:
result.summary()